body {
  font-family: Brush Script MT, cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #8360c3, #2ebf91);
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.input-area {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #2ebf91;
  color: white;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}
.loading {
  font-style: italic;
  color: gray;
}


button:hover {
  background: #259e78;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}
.app {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#weatherResult {
  transition: opacity 0.6s ease-in-out;
}
